.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerTable {
  margin-left: auto;
  margin-right: auto;
}

/* .centerText {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
} */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  margin-left: 25%;
  margin-right: 25%;
 
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}


/* .bottom-align-text{
  position: absolute;
  bottom: 0;
  right: 0;
} */
